%header.fu-stock-header
  %h1 Stock Watcher
  = form_tag "", :method => 'post', :remote => true, class: 'fu-stock-form' do
    = text_field_tag 'stock_symbol', nil, placeholder: "Enter stock symbol...", class: 'fu-stock-symbol-field'
    = submit_tag "ADD", class: 'fu-stock-submit'
.fu-stock-display
  = render 'stock_item'
  = render 'stock_item'
  = render 'stock_item'
  = render 'stock_item'
  = render 'stock_item'
  = render 'stock_item'
