.fu-stock-item
  .fu-stock-left
    %header.fu-stock-sig
      %h3.fu-stock-title
        = stock.name
      .fu-stock-symbol
        = stock.symbol
    %footer.fu-stock-nums
      .fu-stock-trend
        .fu-stock-trend-arrow
        .fu-stock-trend-perc
          - change = number_with_precision(stock.change_amount, :precision => 2)
          - perc = number_with_precision(stock.change_percent, :precision => 2)
          = "#{change} (#{perc}%)"
      .fu-stock-price
        = "$#{stock.price}"
  .fu-stock-right
    .fu-stock-vert
      .fu-stock-vert-arrow
    .fu-stock-vert-prices
      .fu-stock-vert-high
        - high = number_with_precision(stock.high, :precision => 2)
        = "$#{high}"
      .fu-stock-vert-low
        - low = number_with_precision(stock.low, :precision => 2)
        = "$#{low}"
